[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
python-dotenv = "*"
sqlalchemy = "*"
psycopg2 = "*"
httpx = "*"
parse = "*"
gitpython = "*"
pyyaml = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.12"
